* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 350px;
    height: 400px;
    background-color: white;
    padding: 15px 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container li {
    margin-top: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container ul {
    list-style: none;
    margin-top: 30px;
}

button {
    width: 70px;
    height: 30px;
    padding: 2px 5px;
    background-color: rgb(145, 79, 145);
    color: white;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
}

button:hover {
    background-color: rgb(148, 103, 148);
}